extends layout

block content
  h1= title
  p=
  .container
      img(src="https://via.placeholder.com/500" alt="XPhone 12 Pro")
      h1 XPhone 12 Pro
      p.price 18,990,000 VND
      .specs
        p
          strong Màn hình:
          |  6.7 inch OLED, 120Hz
        p
          strong Vi xử lý:
          |  XChip A12 Bionic
        p
          strong RAM:
          |  8GB
        p
          strong Bộ nhớ:
          |  128GB / 256GB / 512GB
        p
          strong Camera:
          |  50MP + 12MP + 10MP
        p
          strong Pin:
          |  5000mAh, sạc nhanh 65W
        p
          strong Hệ điều hành:
          |  XOS 15 (Android 14)
      a.buy-btn(href="#") Mua ngay
