extends layout
link(rel='stylesheet', href='/stylesheets/style.css')
script.
  var mongoose = require('mongoose');
  var uri = "mongodb+srv://dikay3012:Khoakhung_3012@cluster0.mluan.mongodb.net/shoppingonline";
  mongoose.connect(uri).then(() => console.log("connected!"))

// Thêm một product mới
script.
  async function createProduct(id, name, description, price, categoryIds, images, show) {
    try {
      const newProduct = new product({
        _id: id,
        name: name,
        description: description,
        price: price,
        categories_id: categoryIds,
        images: images,
      });
    }

block content
  header
    h1= title
  .cart
    a.btn.btn-info(href='/cart') Xem giỏ hàng
  .container
    .row
      .col-md-4
        .product.border
          h2.product-title IPhone 12 Pro
          p.price 18,990,000 VND
          p
          .button
            a.btn.btn-info(href='/product_title') Chi tiết sản phẩm
          p
          .button
            a.btn.btn-info(href='/cart') Thêm vào giỏ hàng
    .row
      .col-md-4
        .product.border
        script.
          async function fetchProducts() {
            try {
              const products = await product.find({});
              products.forEach(product => {
                const productElement = `
                  .product.border
                    h2.product-title ${product.name}
                    p.price ${product.price} VND
                    p
                    .button
                      a.btn.btn-info(href='/product/${product._id}') Chi tiết sản phẩm
                    p
                    .button
                      a.btn.btn-info(href='/cart') Thêm vào giỏ hàng
                `;
                document.querySelector('.container .row').insertAdjacentHTML('beforeend', productElement);
              });
            } catch (error) {
              console.error('Error fetching products:', error);
            }
          }

          fetchProducts();